{{> head }}
  {{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>Icono</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates perferendis temporibus fugit quaerat dignissimos reprehenderit iste. Aperiam, est inventore enim eligendi ducimus asperiores corrupti. Dolorum nulla alias praesentium officia illo!</p>
    </div>

    <div class="col-4">
      <img src="/assets/img/favicon.png"  alt="foto" class="img-thumbnail">
    </div>
  </div>

  {{> footer }}